<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="register.css">
    <link rel="shortcut icon" href="logo.svg" type="image/x-icon">
</head>
<body>
    <header>
        <img src="logo.svg" alt="Logo" height="50%">
        <span>Employee Reviews</span>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/register">Register</a>
        </div>
    </header>
    <main>
        <form action="/register" method="post" id="register">
            <input type="text" name="name" id="name" placeholder="Name">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="email" name="email" id="email" placeholder="Email">
            <input type="submit" value="Submit" id="submit">
            
        </form>
    </main>
</body>
</html>