<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="stylesheet" href="signin.css">
    <link rel="shortcut icon" href="logo.svg" type="image/x-icon">
</head>
<body>
    <header>
        <img src="logo.svg" alt="Logo" height="50%">
        <span>Employee Reviews</span>
        <div id="navbar">
            <a href="/">Home</a>
            <a href="/signin">Sign In</a>
            <a href="/register">Register</a>
        </div>
    </header>
    <main>
        <form action="/create-session" method="post" id="register">
            <input type="text" name="username" id="username" placeholder="Username">
            <input type="password" name="password" id="password" placeholder="Password">
            <input type="submit" value="Submit" class="submit">
            
        </form>
    </main>
</body>
</html>